body {
    margin: 40px;
}

.wrapper {
    display: grid;
    grid-template-columns: 100px 150px 100px;
    /* grid-template-columns: 33% 33% 33%; */

    grid-gap: 10px;
    /* shorthand for 
        grid-column-gap: 10px
        grid-row-gap: 10px
     */
    background-color: #fff;
    color: #444;
}

.box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
}

/* can omit -end if it spans only 1 grid */
.a {
    grid-column-start: 2;
    /* grid-column-end: 3; */
    grid-row-start: 2;
    /* grid-row-end: 3; */
}
.b {
    grid-column-start: 1;
    /* grid-column-end: 2; */
    grid-row-start: 2;
    grid-row-end: 4;
}
.c {
    grid-column-start: 3;
    /* grid-column-end: 4; */
    grid-row-start: 2;
    grid-row-end: 4;
}
.d {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    /* grid-row-end: 2; */
}
.e {
    grid-column-start: 3;
    /* grid-column-end: 4; */
    grid-row-start: 1;
    /* grid-row-end: 2; */
}
.f {
    grid-column-start: 2;
    /* grid-column-end: 3; */
    grid-row-start: 3;
    /* grid-row-end: 4; */
}
