body {
    margin: 40px;
}

.wrapper {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    /* set width of columns that are implicitly generated */
    grid-auto-columns: 150px;
    grid-gap: 10px;
    background-color: #fff;
    color: #444;
}

.box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
}

.a {
    grid-row: 1;
    grid-column: 1 / 3;
}
.b {
    grid-row: 1 / 2;
    grid-column: 3;
}
.c {
    grid-row: 2;
    grid-column: 1;
}
.d {
    grid-row: 2;
    grid-column: 2;
}
.e {
    /* there are no row 4 nor column 5, check out the behaviour */
    grid-row: 1 / 4;
    grid-column: 4 / 5;
}

